.home-container {
        height: 100vh; /* Ocupa toda la altura de la ventana */
        width: 100vw; /* Ocupa toda la anchura de la ventana */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0; /* Elimina márgenes */
        padding: 0; /* Elimina rellenos */
        background-color: #eed1d1; /* Color de respaldo */
      }
      
      .home-background {
        width: 100%; /* Ocupa todo el ancho */
        height: 100%; /* Ocupa todo el alto */
        background-image: url('/backgroundhome.png'); /* Imagen de fondo */
        background-size: cover; /* Asegura que la imagen cubra todo el área */
        background-position: center; /* Centra la imagen */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        display: flex;
        justify-content: center;
        align-items: center;
      }
  

  .home-logo {
    width: 500px; /* Ajusta según el tamaño del logo */
    margin-bottom: 20px;
  }
  
  .home-description {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .home-button {
    background-color: #a060e8;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .home-button:hover {
    background-color: #8e48d4;
  }
  